body {
  font-family: 'Source Sans Pro';
  background-color: $primary-background-color;

  @media screen and(max-width: $mobile){
    margin: 0 auto;
    max-width: 360px;
  }
  width: 1920px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
}

input:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}
