//стилі для точок по центру екрана в секціі rodmap
%pseudo-red-dot-disabled {
  content: '';
  width: 12px;
  height: 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  background-color: #ff0000;
  position: absolute;
  top: 50%;
  @media screen and(max-width: $mobile) {
    top: 80px;

  }
}

%pseudo-white-dot-active {
  content: '';
  width: 12px;
  height: 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  @media screen and(max-width: $mobile) {
    top: 80px;
  }
}

//основний стиль для текста заголвків в секціях
%section-header-styles {
  @media screen and(max-width: $mobile) {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: $primary-white-text-color;
  text-align: center;
}
