//colors

//колір для тексту
$primary-white-text-color: #ffffff;
$primary-grey-text-color: #a0a3b5;
$pseudoelent-text-color: #71768e;
$primary-red-color: #e11d2e;

$primary-red-hover-color: #ac1216;

$primary-background-color: #101932;

//кольори для градієнтів в псевдоелементі коло
$gradient-color-1: #e11d2e;
$gradient-color-2: #ff516094;

//кольори для біжучого рядка
$ticker-bgc: #5a4039;
$ticker-text-color: #fff50099;

//how it works
$list-item-bgc-color: #384D70;