//colors

//колір для тексту
$primary-white-text-color: #ffffff;
$primary-grey-text-color: #a0a3b5;
$pseudoelent-text-color: #71768e;
$primary-red-color: #e11d2e;

$primary-red-hover-color: #ac1216;

//кольори фонів в секціях
$primary-background-color: #101932;
$team-partners-section-background-color: #162344;
$invest-bgc: #30298c;
$tokenomics-section-bgc: #101d3f;
$social-section-bgc: #162758;
$footer-section-bgc: #0d1428;

//кольори для біжучого рядка
$ticker-bgc: #5a4039;
$ticker-text-color: #fff50099;

//how-it-works section
$list-item-bgc-color: #384d70;

//play-to-earn section
$earn-history-bgc: #071022;
$earn-history-collage-pseudo-bgc: #662544;
$tip-cash-bgc: #ff9429;
$tip-games-bgc: #067ccb;

//розміри
$mobile: 1919px;