//colors

//колір для тексту
$primary-white-text-color: #ffffff;
$primary-grey-text-color: #a0a3b5;
$pseudoelent-text-color: #71768e;
$primary-red-color: #e11d2e;

$primary-red-hover-color: #ac1216;

$primary-background-color: #101932;

//кольори для градієнтів в псевдоелементі коло
$gradient-color-1: #e11d2e;
$gradient-color-2: #ff516094;

//кольори для біжучого рядка
$ticker-bgc: #5a4039;
$ticker-text-color: #fff50099;

//how-it-works section
$list-item-bgc-color: #384d70;

//play-to-earn section
$earn-history-bgc: #071022;
$earn-history-collage-pseudo-bgc: #662544;
$tip-cash-bgc: #ff9429;
$tip-games-bgc: #067ccb;

//why-invest section
$invest-bgc: #30298C;
