<section class="container">
  <div class="faq-wrapper">
    <h2>Frequently Asked Questions</h2>
    <ul class="faq-list">
      <li class="faq-question">
        <p>Where can I buy tokens and NFTs of SpiderShib Inu?</p>
        <div class="faq-button"></div>
      </li>
      <li class="faq-question">
        <p>Where can I buy tokens and NFTs of SpiderShib Inu?</p>
        <div class="faq-button"></div>
      </li>
      <li class="faq-question">
        <p>Where can I buy tokens and NFTs of SpiderShib Inu?</p>
        <div class="faq-button"></div>
      </li>
      <li class="faq-question">
        <p>Where can I buy tokens and NFTs of SpiderShib Inu?</p>
        <div class="faq-button"></div>
      </li>
    </ul>
  </div>
</section>
