<section class="find-out-wrapper">
  <ul class="find-out-companies">
    <li class="find-out-company">
      <a href="#">
        <img src="/images/partners-investor-list-member-1-min.png" alt="" />
      </a>
    </li>
    <li class="find-out-company">
      <a href="#">
        <img src="/images/partners-investor-list-member-2-min.png" alt="" />
      </a>
    </li>
    <li class="find-out-company">
      <a href="#">
        <img src="/images/partners-investor-list-member-3-min.png" alt="" />
      </a>
    </li>
    <li class="find-out-company">
      <a href="#">
        <img src="/images/partners-investor-list-member-4-min.png" alt="" />
      </a>
    </li>
    <li class="find-out-company">
      <a href="#">
        <img src="/images/partners-investor-list-member-5-min.png" alt="" />
      </a>
    </li>
    <li class="find-out-company">
      <a href="#">
        <img src="/images/partners-investor-list-member-6-min.png" alt="" />
      </a>
    </li>
  </ul>
  <h2>Yes you read that right, SpiderShib Inu officially enters the game to conquer the world</h2>
  <img class="find-out-shiba" src="/images/spidershiba-min.png" alt="Image of shiba" />
  <button type="button" class="find-out-button">
    <p>Let’s find out more</p>
  </button>

  <div id="svg-ecosystem" class="find-out-svg-thumb-1 svg-ecosystem-bgc-1">
    <div class="find-out-svg-thumb-2 svg-ecosystem-bgc-2">
      <svg class="find-out-svg">
        <use href="images/sprite.svg#works-svg-1"></use>
      </svg>
    </div>
  </div>

  <div id="svg-options" class="find-out-svg-thumb-1 svg-options-bgc-1">
    <div class="find-out-svg-thumb-2 svg-options-bgc-2">
      <svg class="find-out-svg">
        <use href="images/sprite.svg#works-svg-2"></use>
      </svg>
    </div>
  </div>

  <div id="svg-defi" class="find-out-svg-thumb-1 svg-reshaping-bgc-1">
    <div class="find-out-svg-thumb-2 svg-reshaping-bgc-2">
      <svg class="find-out-svg">
        <use href="images/sprite.svg#works-svg-3"></use>
      </svg>
    </div>
  </div>
</section>
