<section class="container">
  <div class="works-wrapper">
    <h2 class="works-header">How it works</h2>
    <ul class="works-list">
      <li class="works-list-item">
          <div class="works-list-item-inner-thumb">

              <div class="works-svg-thumb-1 svg-ecosystem-bgc-1">
                <div class="works-svg-thumb-2 svg-ecosystem-bgc-2">
                  <svg class="works-svg">
                    <use href="images/sprite.svg#works-svg-1"></use>
                  </svg>
                </div>
              </div>
              <h3>SpiderShib Inu Ecosystem</h3>
              <span>Large variety of options to use SpiderShib Inu tokens and NFTs</span>
              <p>
                Our ecosystem is different from all the others, we have created the first REAL nft game
                with SpiderShib Inu.
              </p>
              <br>
              <br>
              <p>
                So the tokens will have real usefulness and to ensure constant growth for all holders.
              </p>
          </div>
      </li>
      <li class="works-list-item">
          <div class="works-list-item-inner-thumb">

        <div class="works-svg-thumb-1 svg-options-bgc-1">
          <div class="works-svg-thumb-2 svg-options-bgc-2">
            <svg class="works-svg">
              <use href="images/sprite.svg#works-svg-2"></use>
            </svg>
          </div>
        </div>
        <h3>Many options to earn</h3>
        <span>Thanks to our ecosystem you will be able to earn passively and actively</span>
        <p>The passive income: 
            <ul>
                <li><p>- staking </p></li>
                <li><p>- the appreciation of the staked currency</p></li>
            </ul>
        </p>
        <br>
        <br>
        <br>
        
        <p>
          The active income: 
          <ul>
              <li>
<p>- Gaming process (you will earn money that you can turn into tokens)</p>
              </li>
              <li><p>-
                Re-sale of the NFTs</p></li>
          </ul> 
        </p>
          </div>
      </li>
      <li class="works-list-item">
        <div class="works-list-item-inner-thumb">

        <div class="works-svg-thumb-1 svg-reshaping-bgc-1">
          <div class="works-svg-thumb-2 svg-reshaping-bgc-2">
            <svg class="works-svg">
              <use href="images/sprite.svg#works-svg-3"></use>
            </svg>
          </div>
        </div>
        <h3>Reshaping DeFi</h3>
        <span
          >We are evolving DeFi concepts such as participation rewards, NFTs and tokenomics to
          maximise profit for every investor</span
        >
        <p>
          We offer huge tools for people around the world to take control of their financial future.
        </p>
        </div>
      </li>
    </ul>
  </div>
</section>
