<section class="hero-bg">
  <div class="container">
    <header>
      <div class="header-wrapper">
        <!-- логотип -->

        <a class="logo" href="#">
          <div class="logo-img-thumb">
            <img class="logo-img" src="images/logo-min.png" alt="logo of spiderShiba" />
          </div>
          <div class="logo-text">
            <span>SpiderShiba</span>
            <span>Inu</span>
          </div>
        </a>

        <!-- навігація -->

        <nav class="navigation-wrapper">
          <ul class="navigation-list">
            <li class="navigation-item"><a href="#">How it works</a></li>
            <li class="navigation-item"><a href="#">Play and earn</a></li>
            <li class="navigation-item"><a href="#">Roadmap</a></li>
            <li class="navigation-item"><a href="#">Team</a></li>
            <li class="navigation-item"><a href="#">Partners&Investors</a></li>
            <li class="navigation-item"><a href="#">Why invest in SpiderShiba</a></li>
            <li class="navigation-item"><a href="#">Tokenomics</a></li>
            <li class="navigation-item"><a href="#">FAQ</a></li>
            <li class="navigation-item"><a href="#">Community</a></li>
          </ul>
        </nav>

        <button type="button" class="header-button"><span>Join Community</span></button>
      </div>
    </header>
    <div class="hero-wrapper">
      <div class="hero-content">
        <h1 class="hero-content-header">
          <span>Who is</span>
          <span>mr.</span>
          <br />
          <span>Spidershiba Inu?</span>
          <p>it’s a hybrid of Shiba and Spiderman.... but</p>
        </h1>

        <p class="hero-content-description">
          It’s not only for pump and dump by Elon tweets. This is real NFT game with Achiements,
          Goals and nice gameplay with tokenization
        </p>
        <nav class="hero-content-navigation">
          <div class="hero-content-navigation-buttons">
            <button class="join-btn" type="button">Join Community</button>
            <button class="more-btn" type="button">More about SpiderShiba Inu</button>
          </div>
          <div class="hero-contact-adress">
            <h4>Contract address:</h4>
            <p>0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc</p>
          </div>
        </nav>
      </div>
      <img class="hero-image" src="images/spidershiba-min.png" alt="spidershiba big image" />
    </div>
  </div>
</section>
