<section class="container">
  <div class="earn-wrapper">
    <h2>Play to earn</h2>
    <span>Many ways to earn tokens and NFTs</span>
    <div class="earn-history">
      <div class="history-collage">
        <img
          class="history-collage-spidershiba"
          src="/images/spidershiba-min.png"
          alt="image of spidershiba"
        />
        <img
          class="history-collage-goblin"
          src="/images/green-goblin-min.png"
          alt="image of green goblin"
        />
      </div>
      <div class="history-text">
        <h3>Game plot and goal</h3>
        <p>
          Mary Jane has been kidnapped by Green Goblin, who has no intention of letting her escape,
          so she flees to New York City, going through different scenarios that will be part of the
          game!
        </p>
        <p>
          The goal is to accumulate as many game coins and points as possible, which will then be
          transformed into the game token based also on the attempts used to complete the level.
        </p>
        <p>
          Once the Green Goblin is defeated and Mary Jane is safed, the game is over, but we don't
          stop there!
        </p>
      </div>
    </div>
    <div class="earn-tips">
      <div class="tip-card tip-cash">
        <img src="/images/tip-cash-coin-min.png" alt="image of grey coin" />
        <div class="tip-text">
          <h3>Earn that cash!</h3>
          <p>
            In the various levels there will also be special coins, more difficult to take, which
            will provide you with bonuses in tokens or game NFTs!
          </p>
        </div>
      </div>
      <div class="tip-card tip-games">
        <img src="/images/tip-games-megaphone-min.png" alt="image of grey megaphone" />
        <div class="tip-text">
          <h3>Game events and challenges</h3>
          <p>
            There will be lots of events after end of the game, that will bring together whole
            community and you can participate in challanges with the NFTs!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
