<section class="container">
  <div class="roadmap-wrapper">
    <h2>Roadmap</h2>

    <div class="roadmap-period-thumb">
      <ul class="roadmap-periods">
        <li class="roadmap-period roadmap-period-disabled">
          <span class="period-number">1</span>
          <div class="period-text">
            <h3>August 2021</h3>
            <ul>
              <li><span class="period-text-checkmark">Started project</span></li>
              <li><span class="period-text-checkmark">Budget accumulation</span></li>
              <li><span class="period-text-checkmark">Winning team search</span></li>
            </ul>
          </div>
        </li>
        <li class="roadmap-period roadmap-period-disabled">
          <span class="period-number">2</span>
          <div class="period-text">
            <h3>Sept - Nov 2021</h3>
            <ul>
              <li><span class="period-text-checkmark"> Whitepaper creation</span></li>
              <li><span class="period-text-checkmark"> Smartcontract testing</span></li>
              <li><span class="period-text-checkmark"> Building ideas for nft game</span></li>
              <li><span class="period-text-checkmark"> start developing website and game</span></li>
              <li><span class="period-text-checkmark"> start creating NFT</span></li>
              <li><span class="period-text-checkmark"> start creating tokenomics</span></li>
            </ul>
          </div>
        </li>
        <li class="roadmap-period roadmap-period-disabled">
          <span class="period-number">3</span>
          <div class="period-text">
            <h3>Dec - Jan 2022</h3>
            <ul>
              <li><span class="period-text-checkmark"> Official launch on pinksale </span></li>
              <li><span class="period-text-checkmark"> Start marketing campaign </span></li>
              <li><span class="period-text-checkmark"> Airdrop </span></li>
              <li><span class="period-text-checkmark"> Panckacke swap launch </span></li>
              <li><span class="period-text-checkmark"> Start of collaborations with decentraland and the sandbox </span></li>
            </ul>
          </div>
        </li>
        <li class="roadmap-period roadmap-period-active">
          <span class="period-number">4</span>
          <div class="period-text">
            <h3>August 2021</h3>
            <h3>Q1 2022</h3>
            <ul>
              <li><span> Listing on coinmarketcap and coingecko</span></li>
              <li><span> Early beta game</span></li>
              <li><span> Promotion cooperation with big celebrities</span></li>
              <li><span> NFT & Game community build-up</span></li>
              <li><span> NFT collaborations and launch</span></li>
            </ul>
          </div>
        </li>
        <li class="roadmap-period roadmap-period-active">
          <span class="period-number">5</span>
          <div class="period-text">
            <h3>Q2 2022</h3>
            <ul>
              <li><span> Launch of new website </span></li>
              <li><span> Centralized exchange listening </span></li>
              <li><span> Launch of Spidershiba inu single player </span></li>
              <li><span> Creation of NFT marketplace </span></li>
              <li><span> First teaser of Spidershiba inu World Metaverse multiplayer </span></li>
              <li><span> Android & iOS App release </span></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
