<section class="social-wrapper">
  <h2>Join our SpiderShib Inu Community</h2>
  <div class="social-content">
    <ul class="social-links-list">
      <li class="social-link">
        <a href="#">
          <svg class="social-svg">
            <use href="images/sprite.svg#social-telegram" />
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="#">
          <svg class="social-svg">
            <use href="/images/sprite.svg#social-twitter" />
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="#">
          <svg class="social-svg">
            <use href="/images/sprite.svg#social-robot" />
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="#">
          <svg class="social-svg">
            <use href="/images/sprite.svg#social-facebook" />
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="#">
          <svg class="social-svg">
            <use href="/images/sprite.svg#social-m" />
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="#">
          <svg class="social-svg">
            <use href="/images/sprite.svg#social-instagram" />
          </svg>
        </a>
      </li>
    </ul>
    <img src="/images/spidershiba-min.png" alt="Image of spidershiba" />
    <div class="social-contract-adress">
      <h4>SpiderShiba Inu’s Contract address:</h4>
      <span>0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc</span>
    </div>
  </div>
</section>
