<section class="team-partners-bgc">
  <div class="container-team-partners">
    <div class="team-wrapper">
      <h2>Team</h2>
      <div class="team-slider">
        <ul class="team-list">
          <li>
            <img src="/images/team-member-1-min.jpg" alt="Photo of team member Harry Pham" />
            <h4>Harry Pham</h4>
            <p>Founder and CEO</p>
          </li>
          <li>
            <img src="/images/team-member-2-min.jpg" alt="Photo of team member Bui Cai" />
            <h4>Bui Cai</h4>
            <p>Co-founder and CTO</p>
          </li>
          <li>
            <img src="/images/team-member-3-min.jpg" alt="Photo of team member Binh Mai" />
            <h4>Binh Mai</h4>
            <p>Blockchain expert</p>
          </li>
          <li>
            <img src="/images/team-member-4-min.jpg" alt="Photo of team member Lisa Dowen" />
            <h4>Lisa Dowen</h4>
            <p>Marketing and funnels</p>
          </li>
        </ul>
        <div class="team-slider-nav">
          <button class="slider-active-button" type="button"></button>
          <button type="button"></button>
          <button type="button"></button>
        </div>
      </div>
    </div>
    <div class="partners-wrapper">
      <h2>Partners & Investors</h2>
      <ul class="partners-list">
        <li>
          <a href="#">
            <img src="/images/partners-investor-list-member-1-min.png" alt="PinkSale logo" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/partners-investor-list-member-2-min.png" alt="InterFi logo" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/partners-investor-list-member-3-min.png" alt="The SandBox logo" />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="/images/partners-investor-list-member-4-min.png"
              alt="Decentraland logo"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/partners-investor-list-member-5-min.png" alt="CoinGecko logo" />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="/images/partners-investor-list-member-6-min.png"
              alt="CoinMarketCap log
            
            o"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
