<div class="ticker">
  <div class="ticker-wrapper">
    <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span> <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span> <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span> <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span> <span>WARNING: this is not a meme coin</span>
    <span>WARNING: this is not a meme coin</span> <span>WARNING: this is not a meme coin</span>
  </div>
</div>
