<section class="tokenomics-bgc">
  <div class="container tokenomics-wrapper">
    <h2>Tokenomics</h2>

    <div class="tokenomics-statistic">
      <ul>
        <li id="stat-marketing">
          <h3>19% on marketing</h3>
          <p>Thanks to our ecosystem you will be able to earn passively and actively</p>
        </li>
        <li id="stat-founders">
          <h3>5% for founders, 6% stacked</h3>
          <p>Thanks to our ecosystem you will be able to earn passively and actively</p>
        </li>
        <li id="stat-liquidity">
          <h3>30% for liquidity</h3>
          <p>Thanks to our ecosystem you will be able to earn passively and actively</p>
        </li>
      </ul>
      <div class="tokenomics-diagram">
          <img class="tokenomics-sector" src="/images/sector-diagram-min.png" alt="">
      </div>
      <ul>
        <li id="stat-advisors">
          <h3>10% for advisors</h3>
          <p>Thanks to our ecosystem you will be able to earn passively and actively</p>
        </li>
        <li id="stat-p2e">
          <h3>P2e 15%</h3>
          <p>Thanks to our ecosystem you will be able to earn passively and actively</p>
        </li>
        <li id="stat-nft">
          <h3>NFT 15%</h3>
          <p>Thanks to our ecosystem you will be able to earn passively and actively</p>
        </li>
      </ul>
    </div>
  </div>
</section>
