<section class="invest-background">
  <div class="container invest-wrapper">
    <div class="invest-about">
      <h2>Why invest in SpiderShiba Inu?</h2>
      <p>
        in case you have lived in a cave in the last few months we will give you a brief summary of
        what happened in crypto industry
      </p>
      <button type="button">Learn more about SpiderShiba</button>
    </div>
    <ul class="invest-advantages">
      <li>
        <div class="advantage-image-thumb">
          <img class="advantage-image icon-arrow" src="images/arrow-min.png" alt="icon of arrow line" />
        </div>
        <div class="advantage-text">
            <h3>Massive trend</h3>
            <p>Shiba inu has invaded the market with an infinity of other meme coins that collect thousands of BNB and after the launch they make mind-boggling numbers! </p>
        </div>
      </li>
      <li>
        <div class="advantage-image-thumb">
          <img class="advantage-image  icon-star" src="images/star-min.png" alt="icon of star" />
        </div>
        <div class="advantage-text">
            <h3>100% of value, 0% of memecoin!</h3>
            <p>We took the best from this trend and have decided to ride this tremendous wave success in Shiba Inu tokens, not only by launching a coin, but by creating a real NFT game p2e</p>
        </div>
      </li>
    </ul>
  </div>
</section>
