.faq {
  &-wrapper {
    color: $primary-white-text-color;
    padding-top: 70px;
    padding-bottom: 150px;
    @media screen and(max-width: $mobile) {
      padding-bottom: 75px;
    }
  }
  &-wrapper h2 {
    @extend %section-header-styles;
    margin-bottom: 48px;
  }

  &-list {
    max-width: 1036px;
    margin: 0 auto;
  }

  &-question {
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
    background-color: $list-item-bgc-color;
    border-radius: 15px;
    padding: 25px 35px;
    align-items: center;
    justify-content: space-between;
    transition: 100ms ease all;
    @media screen and(max-width: $mobile) {
      padding: 18px;
      margin-bottom: 15px;
    }
  }
  &-question:last-child {
    margin-bottom: 0;
  }

  &-question:hover {
    background-color: #364a6d71;
  }

  &-list p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    @media screen and(max-width: $mobile) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    padding: 0;
    background-size: contain;
    background-color: #e11d2e;
    position: relative;
    @media screen and(max-width: $mobile) {
      border-radius: 100%;
      width: 35px;
      height: 30px;
    }
  }
  &-button::before {
    content: url('/images/arrow-in-button-faq-min.png');
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 35%;
    left: 24%;
    @media screen and(max-width: $mobile) {
      width: 35px;
      height: 35px;
      top: 25%;
      left: 15%;
    }
  }
}
