.find-out {
  &-wrapper {
    @media screen and(max-width: $mobile) {
      padding-top: 10px;
      padding-bottom: 0;
    }
    padding-top: 50px;
    padding-bottom: 293px;
    position: relative;
  }

  &-companies {
    @media screen and(max-width: $mobile) {
      flex-wrap: wrap;
      margin-bottom: 60px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 116px;
    z-index: 3;
  }

  &-company {
    @media screen and(max-width: $mobile) {
      height: 30px;
      margin-top: 10px;
    }

    opacity: 0.1;
    transition: 250ms ease-in-out all;
  }

  &-company:not(:last-child) {
    margin-right: 10px;
  }

  &-company img {
    @media screen and(max-width: $mobile) {
      height: 100%;
    }

    display: block;
    height: 50px;
    width: auto;
  }

  &-company:hover {
    opacity: 1;
  }

  &-wrapper h2 {
    @extend %section-header-styles;
    @media screen and(max-width: $mobile) {
      font-size: 25px;
      line-height: 30px;
      width: 100%;
      margin-bottom: 84px;
    }
    text-align: center;
    color: $primary-white-text-color;
    font-weight: 700;
    position: relative;
    width: 552px;
    margin: 0 auto 13px;
  }

  &-wrapper h2::after {
    @media screen and(max-width: $mobile) {
      width: 30px;
      height: 30px;
      right: 93px;
      bottom: 2px;
    }

    content: '';
    width: 45px;
    height: 45px;
    display: block;
    background-image: url('/images/earth-pseudo-min.png');
    background-size: 104%;
    border-radius: 100%;
    position: absolute;
    bottom: 6px;
    right: 4%;
  }

  &-shiba {
    @media screen and(max-width: $mobile) {
      width: 70px;
      height: 65px;
      margin-bottom: 141px;
    }

    display: block;
    width: 193px;
    height: 180px;
    margin: 0 auto 15px;
    position: relative;
  }

  &-wrapper br {
    @media screen and(max-width: $mobile) {
      display: inline;
    }
    display: none;
  }

  &-wrapper h2::before {
    @media screen and(max-width: $mobile) {
      width: 330px;
      height: 330px;
      top: 72px;
      left: 50%;
      transform: translateX(-50%);
    }

    content: '';
    width: 950px;
    height: 950px;
    display: block;
    background-image: url('/images/find-out-sircles-pseudo-min.png');
    background-size: cover;
    position: absolute;
    top: -246px;
    left: -199px;
    z-index: -2;
  }
  //фон павутина
  &-button::before {
    @media screen and(max-width: $mobile) {
      width: 320px;
      height: 330px;
      top: -340px;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain;
    }

    content: '';
    width: 924px;
    height: 950px;
    display: block;
    background-image: url('/images/find-out-web-pseudo-min.png');
    background-size: cover;
    position: absolute;
    top: -580px;
    left: -354px;
    z-index: -2;
  }
  //фон земля
  &-button::after {
    content: '';
    @media screen and(max-width: $mobile) {
      width: 140px;
      height: 140px;
      bottom: 152px;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain;
    }

    width: 350px;
    height: 350px;
    display: block;
    background-image: url('/images/earth-min.png');
    position: absolute;
    bottom: 0;
    left: -68px;
    z-index: -2;
  }

  &-button {
    display: block;
    text-align: center;
    background-color: $primary-red-color;
    border: none;
    border-radius: 10px;
    margin: 0 auto;

    padding: 10px 45px 15px;
    transition: 250ms ease-in-out all;
    position: relative;
  }

  &-button:hover {
    background-color: $primary-red-hover-color;
  }

  &-button p {
    @media screen and(max-width: $mobile) {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      width: 200px;
    }

    color: $primary-white-text-color;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    width: 125px;
  }

  &-svg {
    @media screen and(max-width: $mobile) {
      width: 14px;
      height: 14px;
    }
    width: 25px;
    height: 25px;
  }

  &-svg-thumb-1 {
    @media screen and(max-width: $mobile) {
      padding: 0;
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 29px;
    margin: 0;
  }

  &-svg-thumb-2 {
    @media screen and(max-width: $mobile) {
      width: 30px;
      height: 30px;
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0;
  }
}

//позиціонуємо іконки
#svg {
  &-ecosystem {
    position: absolute;
    @media screen and(max-width: $mobile) {
      top: 340px;
      left: 45px;
    }
    top: 377px;
    left: 536px;
  }

  &-options {
    @media screen and(max-width: $mobile) {
      top: 475px;
      right: 103px;
    }
    position: absolute;
    top: 706px;
    right: 684px;
  }

  &-defi {
    @media screen and(max-width: $mobile) {
      top: 281px;
      right: 75px;
    }

    position: absolute;
    right: 536px;
    top: 143px;
  }
}
