.earn {
  &-wrapper {
    color: $primary-white-text-color;
  }

  &-wrapper h2 {
    @extend %section-header-styles;
    margin-bottom: 10px;
    @media screen and(max-width: $mobile) {
      margin-bottom: 0;
    }
  }

  &-wrapper span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    opacity: 0.5;
    margin-bottom: 50px;
    @media screen and(max-width: $mobile) {
      font-size: 21px;
      line-height: 42px;
    }
  }

  &-history {
    background-color: $earn-history-bgc;
    border-radius: 30px;
    padding: 36px 50px 60px;
    display: flex;
    margin-bottom: 50px;
    @media screen and(max-width: $mobile) {
      display: block;
      padding: 10px 10px 29px;
    }
  }

  &-tips {
    display: flex;
    @media screen and(max-width: $mobile) {
      display: block;
    }
  }
}

.history {
  &-collage {
    display: block;
    width: 649px;
    height: 288px;
    margin-right: 41px;
    background-image: url('/images/earn-bgi-min.jpg');
    background-size: cover;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    @media screen and(max-width: $mobile) {
      width: 100%;
      height: 137px;
      margin-bottom: 30px;
    }
  }

  //додаємо маску на фон
  &-collage::before {
    content: '';
    display: block;
    width: 649px;
    height: 288px;
    border-radius: 30px;
    position: absolute;
    background-color: $earn-history-collage-pseudo-bgc;
    opacity: 0.4;
    z-index: 2;
    @media screen and(max-width: $mobile) {
      width: 100%;
      height: 137px;
    }
  }

  //додаємо павутину під гобліна
  &-collage::after {
    content: '';
    width: 280px;
    height: 287px;
    display: block;
    position: absolute;
    background-image: url('/images/earn-web-pseudo-bg-min.png');
    right: 0;
    top: 0;
    z-index: 2;

    @media screen and(max-width: $mobile) {
      height: 136px;
      width: 140px;
      background-size: contain;
    }
  }

  &-collage-spidershiba {
    width: 200px;
    height: 186px;
    transform: rotate(-25deg);
    position: absolute;
    left: 30px;
    bottom: 32px;
    z-index: 3;
    @media screen and(max-width: $mobile) {
      width: 95px;
      height: 88px;
      top: 24px;
      left: 15px;
    }
  }

  &-collage-goblin {
    width: 200px;
    height: 216px;
    transform: rotate(25deg);
    position: absolute;
    right: 40px;
    top: 32px;
    z-index: 3;
    @media screen and(max-width: $mobile) {
      width: 95px;
      height: 102px;
      top: 22px;
      right: 30px;
    }
  }

  &-text {
    color: $primary-white-text-color;
    max-width: 946px;
  }
  &-text h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
    @media screen and(max-width: $mobile) {
      font-size: 24px;
      line-height: 29px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }

  &-text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    opacity: 0.6;
    @media screen and(max-width: $mobile) {
      font-size: 19px;
      line-height: 23px;
    }
  }

  &-text p:not(:last-child) {
    margin-bottom: 29px;
  }
}

.tip {
  &-card {
    display: flex;
    border-radius: 30px;
    padding: 36px 38px 35px 30px;

    @media screen and(max-width: $mobile) {
      padding: 20px 20px 50px;
      display: block;
      text-align: center;
    }
  }

  &-card:nth-child(odd) {
    margin-right: 41px;
    @media screen and(max-width: $mobile) {
      margin-right: 0;
    }
  }
  &-card:not(:last-child) {
    @media screen and(max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  &-cash {
    background-color: $tip-cash-bgc;
  }

  &-games {
    background-color: $tip-games-bgc;
  }

  &-cash img {
    width: 153px;
    height: 160px;
    margin-right: 30px;
    @media screen and(max-width: $mobile) {
      margin-right: 0;
      width: 134px;
      height: 140px;
      margin-bottom: 20px;
    }
  }

  &-games img {
    width: 180px;
    height: 160px;
    margin-right: 30px;
    @media screen and(max-width: $mobile) {
      margin-right: 0;
      width: 140px;
      height: 135px;
      margin-bottom: 20px;
    }
  }

  &-text h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
    @media screen and(max-width: $mobile) {
      margin-bottom: 15px;
    }
  }

  &-text p {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    opacity: 0.8;
    @media screen and(max-width: $mobile) {
      font-size: 22px;
      line-height: 26px;
    }
  }
}
