.social {
  &-wrapper {
    background-color: $social-section-bgc;
    padding: 60px 0 51px;
    @media screen and(max-width: $mobile) {
      overflow: hidden;
      padding: 60px 14px 51px;
    }
  }

  &-wrapper h2 {
    @extend %section-header-styles;
    margin: 0 auto 20px;
    max-width: 528px;
    display: flex;
    @media screen and(max-width: $mobile) {
      display: block;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &-content {
    width: 1144px;
    padding: 90px 148px 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
    @media screen and(max-width: $mobile) {
      padding: 0;
      padding-bottom: 176px;
      width: 100%;
    }
  }

  &-content::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('/images/world-map-min.png');
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
    @media screen and(max-width: $mobile) {
      top: -140px;
      height: 720px;
      width: 1144px;
      left: -155%;
    }
  }

  &-links-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 80px;
    @media screen and(max-width: $mobile) {
      margin-bottom: 69px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-link {
    width: 108px;
    height: 108px;
    padding: 30px 25px;
    background-color: $primary-red-color;
    border-radius: 15px;
    transition: 250ms ease-in-out all;
    @media screen and(max-width: $mobile) {
      width: 60px;
      height: 60px;
      padding: 14px;
      margin-top: 30px;
    }
  }

  &-link:not(:last-child) {
    @media screen and(max-width: $mobile) {
      margin-right: 30px;
    }
  }

  &-link:nth-child(4) {
    @media screen and(max-width: $mobile) {
      margin-right: 0;
    }
  }

  &-link:hover {
    background-color: $primary-red-hover-color;
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2) inset;
  }

  &-link:hover .social-svg {
    transform: scale(1.05);
  }

  &-svg {
    width: 100%;
    height: 100%;
    transition: 250ms ease-in-out all;
  }

  &-wrapper img {
    display: block;
    width: 256px;
    height: 238px;
    margin: 0 auto 50px;
  }

  &-contract-adress {
    display: inline-flex;
    flex-direction: column;
    padding: 23px 56px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    color: $primary-white-text-color;
    margin: 0 auto;
    margin-bottom: 56px;
    @media screen and(max-width: $mobile) {
      margin: 0;
     display: block;
     padding: 15px 15px 15px 20px; 
     text-align: left;
     border-radius: 20px;
    }
  }

  &-contract-adress h4 {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    opacity: 0.4;
    margin-bottom: 5px;
    @media screen and(max-width: $mobile) {
      margin-bottom: 10px;
    }
  }

  &-contract-adress span {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    opacity: 0.8;
    @media screen and(max-width: $mobile) {
          font-size: 12px;
    line-height: 14px;
    }
  }
}
